[submodule "lectures/natural-language-processing"]
	path = lectures/natural-language-processing
	url = ../lecture-natural-language-processing.git
[submodule "lectures/neural-networks"]
	path = lectures/neural-networks
	url = ../lecture-neural-networks.git
[submodule "lectures/python-basics"]
	path = lectures/python-basics
	url = ../lecture-python-basics.git
[submodule "projects/altqq"]
	path = projects/altqq
	url = ../altqq.git
